body {
  width: 100%;
  height: auto;
  margin: 0;
  font-family: tahoma, san-serif;
  display: flex;
  flex-direction: column;
  background-color: rgba(245, 246, 248, 0.8);
  text-align: center;
}

#title {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
}

h1 {
  margin-bottom: -10px;
}

#img-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  margin: 0 20px;
  padding: 10px 0;
  border: 2px solid #000000;
}

figure img {
  object-fit: contain;
  width: 600px;
  max-width: 600px;
  height: auto;
}

#image {
  max-width: 100%;
}

#img-caption {
  margin-top: 5px;
}

#tribute-info {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 20px;
  justify-content: center;
}

@media (max-width: 600px) {
  #tribute-info {
    grid-template-columns: 1fr;
    padding: 0 50%;
  }

  #tribute-link {
    text-align: right;
    padding: 0 10%;
  }
}

.card {
  box-shadow: 0 1px 10px 0;
  transition: 0.3s;
  border-radius: 5px 5px 0 0;
  padding: 0 10px;
  max-height: 200px;
  width: 300px;
  margin: 15px 10px;
  background-color: #ffffff;
  text-align: justify;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 255, 0.36);
}

.container {
  padding-bottom: 5px;
}

span {
  font-weight: bold;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: rgba(0, 0, 255, 0.36);
}

footer {
  margin-top: 50px;
  color: #000000;
  background-color: #e0e0e0;
  border-top: 2px solid #000000;
}

footer div {
  display: flex;
  justify-content: right;
  margin: 0 20px;
}

h3 {
  text-align: center;
  margin-bottom: -25px;
}
