:root {
  --section-color: #ffffff;
  --span-color: #008c00;
}

body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", "Arial";
}

/*header*/

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 10px;
  background-image: url("./images/SKYLINE.jpg");
  background-size: cover;
}

.navlist {
  position: sticky;
  top: 0;
  height: 210px;
}

.navlist:nth-of-type(1) {
  display: flex;
  align-items: center;
  width: 50%;
  font-size: 25px;
}

.navlist:nth-of-type(2) {
  display: flex;
  align-items: center;
}

.navlist:nth-of-type(2) > ul {
  display: flex;
  list-style: none;
  font-weight: bold;
  font-size: 15px;
}

.navlist:nth-of-type(2) ul li {
  padding: 10px;
  font-size: 25px;
}

.logo {
  width: 15%;
}

/*main*/

.container {
  width: 70%;
  margin: 0 auto;
}

.sm_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 1px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: var(--section-color);
}

.sm_section > div {
  margin: 5px;
  margin-bottom: 25px;
}

.sm_section > div > img {
  width: 100%;
  height: auto;
}

.sm_section:nth-of-type(3) > div:nth-of-type(3) {
  grid-column: 1/-1;
  font-weight: bold;
}

span {
  color: var(--span-color);
}

p {
  text-align: justify;
  letter-spacing: 1px;
}

figure {
  text-align: center;
}

figcaption {
  text-align: justify;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  font-size: 28px;
}

.exp_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul_container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  list-style: none;
}

.ul_container > li {
  padding: 20px;
  background-color: rgba(00, 0, 0, 0.03);
  border: 1px, solid;
  text-align: center;
}

.ul_container > li:hover {
  font-weight: bold;
  background-color: var(--section-color);
}

section > header {
  font-size: 25px;
  font-weight: bold;
  margin: 30px 0;
  text-align: center;
}

.form-section {
  margin: 20px 0;
  padding: 10px;
  background-color: var(--section-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-section > div > header {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

form {
  text-align: center;
}

form > label {
  font-weight: bold;
  font-size: 20px;
}

input[type="Email"] {
  width: 25%;
  border: 1px solid #ccc;
  font-size: 15px;
}

input[type="Email"]:hover {
  border: 3px solid #ccc;
}

input[type="submit"] {
  margin: 10px 0;
  padding: 10px;
  background-color: var(--span-color);
  color: var(--section-color);
  font-size: 20px;
  border-radius: 8px;
  width: 15%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/SKYLINE.jpg");
  background-size: cover;
  padding: 20px;
}
footer > div {
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 30px;
}
i {
  font-size: 30px;
}

@media only screen and (max-width: 900px) {
  .navlist:nth-of-type(1) {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 25px;
  }

  .logo {
    width: 25%;
  }

  .navlist:nth-of-type(2) {
    display: none;
  }
  .sm_section {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--section-color);
  }

  #video {
    width: 400px;
  }

  .ul_container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    list-style: none;
  }

  input[type="Email"] {
    width: 80%;
    border: 1px solid #ccc;
    font-size: 15px;
  }
  input[type="submit"] {
    margin: 10px 0;
    padding: 10px;
    background-color: var(--span-color);
    color: var(--section-color);
    font-size: 20px;
    border-radius: 8px;
    width: 40%;
  }
}
